<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:700|Roboto" rel="stylesheet">
  </head>
  
  <body>
    <div class="container">
      <h1> CREATE ACCOUNT </h1>
      <fieldset>
        <form action="/create" method="post">
          <input name="firstname" type="text" class="ghost-input" placeholder="First Name">
          <input name="lastname" type="text" class="ghost-input" placeholder="Last Name">
          <input name="email" type="text" class="ghost-input" placeholder="Email">
          <input name="username" type="text" class="ghost-input" placeholder="Username">
          <input name="password" type="text" class="ghost-input" placeholder="Password">
          <input name= "button" type="submit" class="ghost-button" value="Create Account">
          <input name="button" type="submit" class="ghost-button" value="Log In">
        </form>
        <div id=error>
          <% if(error !== null){ %>
            <p><%= error %></p>
          <% } %>
      </div>
      </fieldset>
    </div>
    
  </body>
</html>