<!DOCTYPE html>
<html>
  <head>
    <title>Log In</title>
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:700|Roboto" rel="stylesheet">
  </head>
  
  <body>
    <div class="container">
      <h1>HELLO</h1>
      <fieldset>
        <form action="/home" method="post">
          <input name= "button" type="submit" class="ghost-button" value= "Log In">
          <input name="button" type="submit" class="ghost-button" value="Create Account">
        </form>
      </fieldset>
    </div>
    
  </body>
</html>